<!-- Framworks & Plugins -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> - Bereits vorhanden (Ember.$) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
      
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
      </button>
      <a class="navbar-brand" href="#"> Witze </a>
    </div>
      
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-left: 45%;">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}} Home {{/link-to}}</li>
        <li>{{#link-to 'witze'}} Witze {{/link-to}}</li>
      </ul>
    </div>
    
  </div>
</nav>


{{outlet}}




<div id="bilder-2" style="margin-top: 15%; width: 300px; margin-left: 40%;">
{{bilder-2}}
</div>