<center>
<h1> {{willkommenText}} </h1>
</center>



<div style="margin-left: 10%; margin-top: 10%; display: none; font-size: 500%;" id="animation1"> Gemacht mit </div>

<div style="margin-left: 40%; margin-top: -3%; display: none; font-size: 500%; color: red;" id="animation2"> <strong> ❤ </strong> </div>

<div style="margin-left: 50%; margin-top: -3%; display: none; font-size: 500%;" id="animation3"> und </div>

<div style="margin-left: 60%; margin-top: -3%; display: none; font-size: 500%;" id="animation4"> JavaScript. </div>